@import "tailwindcss";

@font-face {
    font-family: NotoSansJP;
    src: url("/fonts/NotoSansJP-VariableFont_wght.woff2") format("woff2");
}

* {
    font-family: NotoSansJP;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

/*** TIMELINE ***/

