---
import Layout from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.astro";
import VideoGallery from "../components/VideoGallery.astro";
import Messages from "../components/Messages.astro";
---

<Layout>
  <div class="card" id="card"></div>

  <script>
    const card = document.getElementById("card");

    document.addEventListener("mousemove", (e) => {
      const x = (e.clientX / window.innerWidth - 0.5) * 30; // rotación Y
      const y = (e.clientY / window.innerHeight - 0.5) * -30; // rotación X
      card.style.transform = `rotateY(${x}deg) rotateX(${y}deg)`;
    });

    document.addEventListener("mouseleave", () => {
      card.style.transform = `rotateY(0deg) rotateX(0deg)`;
    });
  </script>

  <style>
    body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      perspective: 1000px; /* Importante para efecto 3D */
      background: #222;
    }

    .card {
      width: 400px;
      height: 550px;
      background-image: url("/img/placa.png");
      background-size: cover;
      background-position: center;
      border-radius: 20px;
      transition: transform 0.1s;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      will-change: transform;
      image-rendering: auto;
    }
  </style>
</Layout>
