---
import { formatNum, formatDuration } from "../utils";
import aniversarios from "../data/aniversarios.json";
---

<section id="aniversarios">
  <div class="container">
    <h2>🎂 Aniversarios 🎂</h2>

    <div>
      <div class="grid md:grid-cols-3 gap-4">
        {
          aniversarios.map((v) => (
            <a
              class="border-4 border-black bg-white p-2 flex flex-col h-full"
              href={`https://youtu.be/${v.id}`}
              target="_blank"
            >
              <img
                src={v.thumbnail}
                alt={v.title}
                class="w-full h-40 object-cover mb-2"
              />
              <p class="font-semibold text-sm line-clamp-2 mb-1">{v.title}</p>
              <p class="text-xs mt-auto">
                {new Date(v.publishedAt).getFullYear()}
              </p>
            </a>
          ))
        }
        <div
          class="border-4 border-black bg-white p-2 flex flex-col h-full"
          style="display: grid;align-content: center;justify-content: center;font-size: 2.5em;"
        >
          y muchos más...
        </div>
      </div>
    </div>
  </div>

  <style>
    #aniversarios {
      display: grid;
      align-items: center;
    }
    #aniversarios > .container > div {
      margin-top: 2em;
    }
  </style>
</section>
