<section id="cover">
  <div class="container">
    <p class="title-icon">
      <span class="icon">🎉</span>
      Muchas felicidades
      <span class="icon">🎉</span>
    </p>

    <h1>UmaruYT</h1>

    <p class="title-icon">
      <span class="icon">🎉</span>
      10 años de anime, manga y arte
      <span class="icon">🎉</span>
    </p>

    <p class="text-lg">
      Celebrando una década de historias, gustos y gran comunidad
    </p>
  </div>
</section>
<style>
  #cover {
    height: 100vh;
    display: grid;
    align-items: center;
    vertical-align: middle;
    text-align: center;
  }
  h1 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin-block: 0.5em;
  }

  .title-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
  }
  .icon {
    font-size: 5rem;
  }
</style>
