<section id="despedida">
  <div class="container">
    <h2>Muchas gracias por visitarnos!</h2>
    <div id="despedida-message">
      <img
        src="/img/icon-192.png"
        alt="UmaruYT"
        style="width: 192px; max-width: 90%; margin:auto;"
      />
      <p>
        Si os ha gustado este resumen no olviden darle un likesito, subscribirte
        si aún no lo has hecho y nos vemos muy pronto en un nuevo proyecto.
      </p>
      <p style="font-size: 2em;margin-top:1em;">Miiiiiii....</p>
    </div>
  </div>
</section>

<style>
  #despedida {
    padding-block: 3em;
    min-height: 100vh;
    display: grid;
    align-items: start;
    justify-content: center;
  }
  #despedida-message {
    width: 500px;
    max-width: 100%;
    font-size: 1.5em;
    text-align: center;
  }
</style>
