---
import { formatDuration } from "../utils";

const allVideos = (await import("../data/videos.json")).default;
const allShorts = (await import("../data/shorts.json")).default;

const totalDurationSeconds = allVideos.reduce(
  (sum, v) => sum + (v.duration || 0),
  0
);

// const shorts = gallery.shorts;
---

<section class="p-6">
  <h2 class="text-3xl font-bold mb-4 border-b-4 border-black inline-block">
    Información
  </h2>
  <div class="grid md:grid-cols-3 gap-6">
    <div
      class="border-4 border-black bg-white p-4 shadow-[4px_4px_0_#000] hover:-translate-y-1 transition"
    >
      <h2 class="text-2xl font-bold mb-2">
        {allVideos.length} vídeos largos subidos
      </h2>
      <p class="text-lg leading-snug">... de todos los que ha creado.</p>
    </div>
    <div
      class="border-4 border-black bg-white p-4 shadow-[4px_4px_0_#000] hover:-translate-y-1 transition"
    >
      <h2 class="text-2xl font-bold mb-2">
        {allShorts.length} shorts subidos
      </h2>
      <p class="text-lg leading-snug">... de todos los que ha creado.</p>
    </div>
    <div
      class="border-4 border-black bg-white p-4 shadow-[4px_4px_0_#000] hover:-translate-y-1 transition"
    >
      <h2 class="text-2xl font-bold mb-2">
        {formatDuration(totalDurationSeconds)} de contenido disponible
      </h2>
      <p class="text-lg leading-snug">
        ... y mucho más de trabajo que no se ve.
      </p>
    </div>
  </div>
</section>
