<section id="placa">
  <div class="container">
    <h2>Una vez más muchas felicidades 🥳</h2>
    <div id="placa-message">
      <button>Haz click aquí para ver tu premio</button>
    </div>
  </div>
</section>

<style>
  #placa {
    padding-block: 3em;
    min-height: 100vh;
    display: grid;
    align-items: start;
    justify-content: center;
  }
  #placa-message {
    width: 500px;
    max-width: 100%;
    font-size: 1.5em;
    text-align: center;
  }
</style>
